.content {
  max-width: 800px;
  margin: auto;
}

img {
  height: 200px;
  width: 100%;
}


h2 {
  font-size: 1.5vw;
  font-family: 'fullPack', 'arial', sans-serif;
}
mat-card {
  margin-top: 15px;
  border: 2px solid orangered;
  border-radius: 5px;
  background-color: #111111;
  color: aliceblue;
}
mat-card-header {
  color: aliceblue;
}
mat-card-subtitle {
  color: aliceblue;

}
