<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="30px">
  <div fxLayout="row">
    <app-news-add *ngIf="getIsAdmin() == true"></app-news-add>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="_news">
    <div fxFlex="50"
         [fxFlex.md]="'300'"
         [fxFlex.sm]="'300'"
         *ngFor="let news of _news">
      <mat-card>
        <mat-card-header>
          <mat-card-title routerLink="/news/{{news.id}}">
            {{news.header}}
          </mat-card-title>
          <mat-card-subtitle>
            {{news.shortDesc}}
          </mat-card-subtitle>
        </mat-card-header>
        <img src="{{news.picture}}">
      </mat-card>
    </div>
  </div>
</div>
