<form [formGroup]="newsForm" (ngSubmit)="submit()">
  <mat-card>
    Add a news Segment!
  </mat-card>
  <br>
  <mat-form-field style="width: 300px">
    <input matInput placeholder="Header" type="text" formControlName="header">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field style="width: 300px">
    <input matInput placeholder="Picture URL" type="url" formControlName="picture">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field style="width: 300px">
    <mat-label>Short Description</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"
              formControlName="body"></textarea>
    <input matInput placeholder="Short Description" type="text" formControlName="shortDesc">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field style="width: 400px">
    <mat-label>Body</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="15"
              formControlName="body"></textarea>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="Tags" type="text" formControlName="tags">
  </mat-form-field>
  <mat-divider></mat-divider>
  <button mat-flat-button color="warn" type="submit">Submit</button>
</form>

