<body>
<form [formGroup]="newsForm" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Header" type="text" formControlName="test">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Picture URL" type="url" formControlName="test">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Short Description" type="text" formControlName="test">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Body" type="text" formControlName="test">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Tags" type="text" formControlName="test">
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>
</body>
