<button routerLink="/">Back</button>
<img src="{{news.picture}}">
<div *ngIf="getIsAdmin() == true">
  <button mat-fab color="warn" routerLink="/news/update/{{news.id}}">Update</button>
  <button mat-fab color="warn" (click)="deleteNews(news.id)">Delete</button>
</div>
<div *ngIf="news">
  <h2>{{news.header}}</h2>
  <h3>{{news.shortDesc}} {{customer.lastName}}</h3>
  <h4>{{news.body}}</h4>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{news.header}}
    </mat-card-title>
    <mat-card-subtitle>
      {{news.shortDesc}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{news.body}}
  </mat-card-content>


