<button mat-flat-button color="primary" routerLink="/">Back</button>
<div *ngIf="getIsAdmin() == true">
  <button mat-fab color="warn" routerLink="/news/update/{{ID}}">Update</button>
  <button mat-fab color="warn" (click)="deleteNews(news.id)">Delete</button>
</div>
<mat-card>
  <img src="{{news.picture}}" alt="newsgirl">
  <mat-card-header>
    <mat-card-title>
      {{news.header}}
    </mat-card-title>
    <mat-card-subtitle>
      {{news.shortDesc}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{news.body}}
  </mat-card-content>
</mat-card>


