  <mat-toolbar align="left">
    <mat-toolbar-row id="TBRow1" color="primary">
    </mat-toolbar-row>
    <mat-toolbar-row #tbrow2>
      <ul>
        <li><a routerLink="/">News</a></li>
        <li><a routerLink="/comment">Forums</a></li>
        <li><a routerLink="/">Reviews</a></li>
        <li><a routerLink="/">My Story</a></li>
        <li><a routerLink="/">Cars</a></li>
        <li><a routerLink="/">Feedback</a></li>
        <li><a routerLink="/">About us</a></li>
        <li><a routerLink="/">Contact us</a></li>
      </ul>
      <span class="fill-space"></span>
      <mat-card #loginPad>
        <mat-card-content id="default" style="display: block">
          <button mat-flat-button color="primary" (click)="showLogin()">Login</button>
          <a align="center">--OR--</a>
          <button mat-flat-button color="primary" (click)="showRegister()">Register</button>
        </mat-card-content>
        <mat-card-content id="Login" style="display: none">
          <app-login></app-login>
        </mat-card-content>
        <mat-card-content id="Register" style="display: none">
          <app-register></app-register>
        </mat-card-content>
      </mat-card>
    </mat-toolbar-row>
  </mat-toolbar>
