  <mat-toolbar align="left">
    <mat-toolbar-row id="TBRow1" color="primary">
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="start" #tbrow2>
        <li><a routerLink="/">News</a></li>
        <li><a routerLink="/reviews">Reviews</a></li>
        <li><a routerLink="/cars">Cars</a></li>
        <li><a routerLink="/">Forums</a></li>
        <li><a routerLink="/">My Story</a></li>
        <li><a routerLink="/">Feedback</a></li>
        <li><a routerLink="/">About us</a></li>

      <span class="fill-space"></span>
      <button *ngIf="getToken() == null " mat-flat-button color="primary" [matMenuTriggerFor]="Loginmenu">Login</button>
      <mat-menu #Loginmenu="matMenu">
      <button mat-flat-button color="primary" routerLink="/login">Login</button>
      <a align="center">--OR--</a>
      <button mat-flat-button color="primary" routerLink="/register">Register</button>
    </mat-menu>
      <button *ngIf="getToken()" mat-flat-button color="primary" [matMenuTriggerFor]="Loggedinmenu">My account</button>
      <mat-menu #Loggedinmenu="matMenu">
        Logged-in as {{getUser()}}
        <button *ngIf="getIsAdmin() == true" mat-flat-button color="primary" routerLink="/admin">Admin Page</button>
        <button mat-flat-button color="Warn" (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
