ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#loginPad {
  size: 100px;
  height: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
mat-toolbar-row {
  background-color: #111111;
}
.fill-space {
flex: 1 1 auto;
}
